---
---
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
.columns-3 .archive__item {
  width: 33.3333%;
  float: left;
}

/* Clear floats at the end of the row if needed */
.columns-3 .archive {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}